@using BPA205Pronia.Areas.Admin.ViewModels.Account.Admin
@model CreateAdminVM

<div>
    <h1 class="text-primary">Add Admin</h1>
    <form asp-controller="User" asp-action="CreateAdmin" method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="@Model.Email" type="email" class="form-control" id="Email" placeholder="Email">
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input asp-for="@Model.Password" type="password" class="form-control" id="Password" placeholder="Password">
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
        </div>
        <div class="mb-3">
            <label for="Roles" class="form-label">Roles</label>
            <select asp-for="@Model.Roles" class="form-select" multiple>
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.Roles"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
