@model Slider

<div>
    <h1 class="text-primary">Update Slider</h1>
    <form asp-controller="Slider" asp-action="Update" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input asp-for="@Model.Title" type="text" class="form-control" id="title" placeholder="Add title...">
            <span class="text-danger" asp-validation-for="@Model.Title"></span>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input asp-for="@Model.Desc" type="text" class="form-control" id="desc" placeholder="Add description...">
            <span class="text-danger" asp-validation-for="@Model.Desc"></span>
        </div>
        <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input asp-for="@Model.Discount" type="number" class="form-control" id="discount" placeholder="Add discount...">
            <span class="text-danger" asp-validation-for="@Model.Discount"></span>
        </div>
        <div class="mb-3">
            <label for="imgUrl" class="form-label">Image URL</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control" id="imgUrl">
            <span class="text-danger" asp-validation-for="@Model.ImageUrl"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>